<launch>
	<rosparam file="$(find hw_controller)/config/test_controller.yaml" command="load"/>
	<!-- Load the the test_controllers from the yaml file-->
	<node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
	  output="screen" args="test_controller0
				test_controller1
				test_controller2" />

</launch>
	
