[submodule "src/flexrayusbinterface"]
	path = src/flexrayusbinterface
	url = https://github.com/Roboy/flexrayusbinterface
[submodule "src/common_utilities"]
	path = src/common_utilities
	url = https://github.com/Roboy/common_utilities
