<launch>
	<!-- Load the parameters to the parameter server from the yaml file-->
	<rosparam file="$(find roboy_controller)/config/roboy_controller.yaml" command="load"/>
	<node name="myo_master" 
            pkg="myo_master" 
            type="multiJoint" 
            respawn="false"
            output="screen" 
/>
</launch>

 <!-- FOR DEBUGGING USE THIS launch-prefix="xterm -e gdb -se devel/lib/myo_master/multiJoint" FOR VALGRIND USE THIS launch-prefix="valgrind -log-file=/home/letrend/workspace/ros_hierarchy/valgrind.log -leak-check=full"-->   
	
